export TWEETS_CONSUMER_KEY=6QFFNl66A2YfQbCNB6agQvC2T  
export TWEETS_CONSUMER_SECRET=wor8AW6KRpeOXBhA82MVi7iGEJso7oWZJox70MZyMJn2JA00Tq
export TWEETS_ACCESS_TOKEN=171494345-mQQ6rgLitmODs6shz22LsXjhrNSkZm0pf4nmuepj
export TWEETS_ACCESS_SECRET=6gJcaW07HkwiP1XZ25Qdp7Mc5cKudiuXxMo3Eemz9cOxY